@charset "ISO-8859-1";
fieldset {
	padding: 10px;
}

label{
	display: inline-block;
	margin-bottom: 10px;
	
}

input {
	font: right;
	margin: none:70px;
	width: 150px;
}
input:invalid{
	background-color: #c0c0c0;
}